<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chevo.RPG.Common.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Chevo.RPG.Common.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Chevo.RPG.Common.ActorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Chevo.RPG.Common.TestSettings>
            <setting name="ScreenWidthHeight" serializeAs="String">
                <value>1000</value>
            </setting>
        </Chevo.RPG.Common.TestSettings>
        <Chevo.RPG.Common.GlobalSettings>
            <setting name="GameSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LevelWidth" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LevelHeight" serializeAs="String">
                <value>5000</value>
            </setting>
        </Chevo.RPG.Common.GlobalSettings>
        <Chevo.RPG.Common.ActorSettings>
            <setting name="StepLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="InteractionDistance" serializeAs="String">
                <value>90</value>
            </setting>
        </Chevo.RPG.Common.ActorSettings>
    </applicationSettings>
</configuration>